.li_back{
    background-color: rgb(77, 65, 65);
    width: 400px;
    border: 4px solid rgb(164, 164, 164);
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

h2.title_h2{
    color: rgb(139, 139, 190);
    font-size: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    color: rgb(220, 220, 219);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}